<div class="alert alert-warning" role="alert">
    Recuerde verificar el volumen antes de iniciar la sesión.
    Haga una prueba de sonido <button type="button" class="btn btn-success" onClick="return bhavana_playSound();">Aquí</button>
</div>

<div id="bhavana_timerNumbers" style="align: center;" align="center">
    <div class="btn-group" role="group" id="bhavana_selectMeditationTimes">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Tiempo sugeridos
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(45);">45</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(30);">30</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(25);">25</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(15);">15</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(5);">5</a>
        </ul>
    </div>
    <br />
    <br />
    <div class="btn-group" role="group" id="bhavana_selectMeditationIntention">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Hoy voy a meditar por...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('non');">Solo quiero meditar</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('paz');">La Paz</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('com');">Compasión</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('hum');">Humildad</a>
        </ul>
    </div>
</div>

<br />
<div class="input-group input-group-lg">
    <span class="input-group-addon" id="bhavana_timerMinutesIndicator">Minutos</span>
    <input type="numbers" id="bhavana_timerTime" class="form-control"
    placeholder="Tiempo" aria-describedby="bhavana_timerMinutesIndicator"
    onKeyup="this.value=this.value.replace(/[^\d]/,'')"
    onClick="bhavana_selectAll('bhavana_timerTime');"
    required
    >
</div>

<br />
<br />
<button type="button" id="bhavana_timerStartButton" class="btn btn-success btn-lg" style="width: 100%;" onClick="return bhavana_timerStartStop();">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    Iniciar
</button>
<button type="button" id="bhavana_timerStopButton" class="btn btn-danger btn-lg" style="width: 100%;" onClick="return bhavana_timerStartStop();">
    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    Detener
</button>

<br />
<br />
<div class="progress">
    <div id="bhavana_timerProgressBar" class="progress-bar progress-bar-info" style="width: 0%;"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"></div>
</div>


<script type="text/javascript">

// Selects all text in a text area or input field
// Thanks to: http://javascript-array.com/scripts/onclick_select_all_text_in_field/
function bhavana_selectAll(id){
    document.getElementById(id).focus();
    document.getElementById(id).select();
}

function bhavana_timerSetTime(time){
    $("#bhavana_timerTime").val(time);
    return false;
}

// Total time to meditate
var bhavana_totalTimeInTimer = 0;
var bhavana_internalTimer = 0;

// Intention
var bhavana_intention = 'non';

// The total amount of time passed in the counter
var bhavana_totalCounterTime = 0;

// The total time that I will run for
var bhavana_totalTimeToRun = 0;

// Should I be running or not?
var bhavana_timerActive = false;

// Set a new intention if the person wants to
function bhavana_timerSetIntention(intention){
    bhavana_intention = intention;
    return false;
}

// Plays the sound
function bhavana_playSound(){
    Cala_say("Playing sound..." + Cala_createAudioPath() + 'modules/bhavana/bell_1.mp3');
    var audio = new Audio(Cala_createAudioPath() + 'modules/bhavana/bell_1.mp3');
    audio.play();
}

// I see if this session was long enough to be stored in the records
function bhavana_shouldICountTheSession(){

    var bhavana_newMeditatedTime = Math.floor(bhavana_totalCounterTime/60);

    console.log("Total Meditated time: " + bhavana_newMeditatedTime + " out of " + bhavana_totalTimeToRun);

    // This is for debuging
    //Bhavana_addToCause(7, bhavana_intention, 'timer');

    if(bhavana_newMeditatedTime > 0){

        console.log("I might be counted");

        newTime = Bhavana_timeRegister(bhavana_newMeditatedTime);

        if(newTime !== false){
            // Store the time
            console.log("Got totaltime: " + newTime);
            Bhavana_addToCause(newTime, bhavana_intention, 'timer');
        }
    }

}

// I timing function
function bhavana_timer(){

    console.log("Total seconds: " + bhavana_totalCounterTime);
    if(bhavana_timerActive){
        console.log("Timer is running, I will set another round");
        bhavana_totalCounterTime = bhavana_totalCounterTime + 1;
        bhavana_timerPaintSome();
        setTimeout(function(){bhavana_timer()}, 1000);
    }else{
        console.log("Timer is stoped");
    }

}

// Add some color to the timing process
function bhavana_timerPaintSome(){

    valueNow = Math.round((bhavana_totalCounterTime/bhavana_totalTimeToRun)*100);

    console.log("Adding some colour to the timer: " + valueNow);

    $("#bhavana_timerProgressBar").css('width', valueNow+"%");
    $("#bhavana_timerProgressBar").attr('aria-valuenow', valueNow);

    // I can stop the timer too
    if(valueNow == 100){
        bhavana_timerFullStop(true);
    }

}

// Do a full stop of the timer
function bhavana_timerFullStop(complete){

    // Let the timer now it should stop
    bhavana_timerActive = false;

    if(complete === true){
        console.log("This was a complete run, I will ring the bell!");
        bhavana_playSound();
        $("#bhavana_timerStartButton").show();
        $("#bhavana_timerStopButton").hide();
    }

    // Should I count the time?
    bhavana_shouldICountTheSession();
}

// Start and stop the timer
function bhavana_timerStartStop(){

    bhavana_totalTimeToRun = parseInt($("#bhavana_timerTime").val()) * 60;

    console.log("I will meditate for: " + bhavana_totalTimeToRun);

    if(bhavana_totalTimeToRun === 0 || isNaN(bhavana_totalTimeToRun)){
        return false;
    }

    if(bhavana_timerActive === false){
        console.log("Starting the timer");
        bhavana_timerActive = true;
        $("#bhavana_timerStartButton").hide();
        $("#bhavana_timerStopButton").show();
        bhavana_totalCounterTime = 0;
    }else{
        console.log("Stoping the timer");
        bhavana_timerActive = false;
        $("#bhavana_timerStartButton").show();
        $("#bhavana_timerStopButton").hide();
        // Should I count this session?
        bhavana_timerFullStop(false);
    }
    bhavana_timer();
}


// Set some default stuff
$("#bhavana_timerStopButton").hide();
$("#bhavana_timerTime").focus();

/////////////////////////////////////////////////////////////////
// I do the actual timing for the meditation
function bhavana_timeMyMeditationTimer(){

    Cala_say("Timing the timer...");

    // Should I stop now? Was it premature?
    if(bhavana_internalTimer < 0){
        bhavana_timerStop();
        return false;
    }

    if(bhavana_totalTimeInTimer >= bhavana_internalTimer){

        valueNow = Math.round((bhavana_internalTimer/bhavana_totalTimeInTimer)*100);
        $("#bhavana_timerProgressBar").css('width', valueNow+"%");
        $("#bhavana_timerProgressBar").attr('aria-valuenow', valueNow);

        setTimeout(function(){
                bhavana_timeMyMeditationTimer();
                }, 1000);

        // Increase the timer
        bhavana_internalTimer++;
        Cala_say("Timing: " + bhavana_internalTimer + " -> " + valueNow + " / " + bhavana_totalTimeInTimer);
    }else{
        var audio = new Audio(Cala_createAudioPath() + 'bhavana/bell_1.mp3');
        audio.play();
        //Bhavana_addToCause(bhavana_totalTimeInTimer, 'non');
        bhavana_timerStop();
    }

}

// Stop the timer and go back to square one
function bhavana_timerStop(){

    Cala_say("Stoping the timer and going back to square one");

    bhavana_shouldICountTheSession(bhavana_internalTimer);

    bhavana_internalTimer = -1;
    bhavana_totalTimeInTimer = 0;

    $("#bhavana_timerStartButton").show();
    $("#bhavana_timerStopButton").hide();

}

// I start and stop the meditation process
function bhavana_timeMyMeditation(){

    // If I am already running, I will stop
    if(bhavana_internalTimer > 0){
        Cala_say("I will stop now");
        bhavana_timerStop();
    }else{

        // Get the total time to meditate
        bhavana_totalTimeInTimer = parseInt($("#bhavana_timerTime").val());
        Cala_say("About to start with: " + bhavana_totalTimeInTimer);

        if(bhavana_totalTimeInTimer > 0){

            Cala_say("And I begin...");

            // Clear messages, just in case
            Cala.Messages.clear();

            $("#bhavana_timerStartButton").hide();
            $("#bhavana_timerStopButton").show();

            // Convert to seconds
            bhavana_totalTimeInTimer = bhavana_totalTimeInTimer * 60;
            bhavana_internalTimer = 0;
            bhavana_timeMyMeditationTimer();

        }
        else{
            Cala.Messages.clear().danger("Favor indicar un tiempo a meditar");
            return false;
        }
    }
    return false;
}

</script>


