<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Meditación total diaria</h2>
    </div>
    <div class="panel-body">
        <div id="Bhavana_chartTotalPerDayMeDiv"></div>
        <canvas id="Bhavana_chartTotalPerDayMe" height="100%"></canvas>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Por causa</h2>
    </div>
    <div class="panel-body">
        <canvas id="chartPiePerCause"></canvas>
        <div id="Bhavana_meditationTimesPerCauseLegend"></div>
    </div>
</div>


<script src="modules/bhavana/js/Chart.min.js"></script>
<script>
Cala_say("I need to be logged in to see this page");
function Bhavana_myStatsLoggedIn(){
    Cala_say("I'm I logged in?");
    // Maybe this should be in a document ready
    if(Drupal.user.uid > 0) {
        Cala_say("I am logged in");
        Cala_runOnReady(Bhavana_getMyMeditationTimesPerDay);
        Cala_runOnReady(Bhavana_getMyMeditationTimesPerCause);
    }else{
        alert("Requiere una cuenta para poder utilizar estas funciones");
        iGoTo("?x=login");
    }
}
Cala_runOnReady(Bhavana_myStatsLoggedIn);
</script>
