<div class="alert alert-warning" role="alert">
    Recuerde verificar el volumen antes de iniciar la sesión.
    Haga una prueba de sonido <button type="button" class="btn btn-success" onClick="return bhavana_playSound();">Aquí</button>
</div>

<div id="bhavana_timerNumbers" style="align: center;" align="center">
    <div class="btn-group" role="group" id="bhavana_selectMeditationTimes">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Tiempo sugeridos
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(45);">45</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(30);">30</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(25);">25</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(15);">15</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(5);">5</a>
        </ul>
    </div>
    <br />
    <br />
    <div class="btn-group" role="group" id="bhavana_selectMeditationIntention">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Hoy voy a meditar por...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('non');">Solo quiero meditar</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('paz');">La Paz</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('com');">Compasión</a>
            <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('hum');">Humildad</a>
        </ul>
    </div>
</div>

<br />
<div class="input-group input-group-lg">
    <span class="input-group-addon" id="bhavana_timerMinutesIndicator">Minutos</span>
    <input type="numbers" id="bhavana_timerTime" class="form-control"
    placeholder="Tiempo" aria-describedby="bhavana_timerMinutesIndicator"
    onKeyup="this.value=this.value.replace(/[^\d]/,'')"
    onClick="bhavana_selectAll('bhavana_timerTime');" 
    >
</div>

<br />
<br />
<button type="button" id="bhavana_timerStartButton" class="btn btn-success btn-lg" style="width: 100%;" onClick="return bhavana_timeMyMeditation();">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    Iniciar
</button>
<button type="button" id="bhavana_timerStopButton" class="btn btn-success btn-lg" style="width: 100%;" onClick="return bhavana_timeMyMeditation();">
    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    Detener
</button>

<br />
<br />
<div class="progress">
    <div id="bhavana_timerProgressBar" class="progress-bar progress-bar-info" style="width: 0%;"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"></div>
</div>


<script type="text/javascript">

// Selects all text in a text area or input field
// Thanks to: http://javascript-array.com/scripts/onclick_select_all_text_in_field/
function bhavana_selectAll(id){
    document.getElementById(id).focus();
    document.getElementById(id).select();
}

function bhavana_timerSetTime(time){
    $("#bhavana_timerTime").val(time);
    return false;
}

// Total time to meditate
var bhavana_totalTime = 0;
var bhavana_internalTimer = 0;

// Intention
var bhavana_intention = 'non';

function bhavana_timerSetIntention(intention){
    bhavana_intention = intention;
    return false;
}

// I do the actual timing for the meditation
function bhavana_timeMyMeditationTimer(){

    Cala.say("Timing the timer...");

    // Should I stop now? Was it premature?
    if(bhavana_internalTimer < 0){
        bhavana_timerStop();
        return false;
    }

    if(bhavana_totalTime >= bhavana_internalTimer){

        valueNow = Math.round((bhavana_internalTimer/bhavana_totalTime)*100);
        $("#bhavana_timerProgressBar").css('width', valueNow+"%");
        $("#bhavana_timerProgressBar").attr('aria-valuenow', valueNow);

        setTimeout(function(){
                bhavana_timeMyMeditationTimer();
                }, 1000);

        // Increase the timer
        bhavana_internalTimer++;
        Cala.say("Timing: " + bhavana_internalTimer + " -> " + valueNow + " / " + bhavana_totalTime);
    }else{
        var audio = new Audio('tpl/bhavana/bell_1.mp3');
        audio.play();
        Bhavana_addToCause(bhavana_totalTime, 'non');
        bhavana_timerStop();
    }

}

// Plays the sound
function bhavana_playSound(){
    Cala.say("Playing sound...");
    var audio = new Audio('tpl/bhavana/bell_1.mp3');
    audio.play();
}

// Stop the timer and go back to square one
function bhavana_timerStop(){

    Cala.say("Stoping the timer and going back to square one");
    bhavana_internalTimer = -1;
    bhavana_totalTime = 0;

    $("#bhavana_timerStartButton").show();
    $("#bhavana_timerStopButton").hide();

}

// I start the meditation process
function bhavana_timeMyMeditation(){

    // if it is running, I will stop it
    if(bhavana_internalTimer > 0){
        Cala.say("I will stop now");
        bhavana_timerStop();
    }else{

        // Get the total time to meditate
        bhavana_totalTime = parseInt($("#bhavana_timerTime").val());
        Cala.say("About to start with: " + bhavana_totalTime);

        if(bhavana_totalTime > 0){

            Cala.say("And I begin...");

            // Clear messages, just in case
            Tpl_msgClearAll();

            $("#bhavana_timerStartButton").hide();
            $("#bhavana_timerStopButton").show();

            // Convert to seconds
            bhavana_totalTime = bhavana_totalTime * 60;
            bhavana_internalTimer = 0;
            bhavana_timeMyMeditationTimer();

        }
        else{
            Tpl_msgDanger("Favor indicar un tiempo a meditar");
            return false;
        }
    }
    return false;
}

$("#bhavana_timerStopButton").hide();
$("#bhavana_timerTime").focus();

</script>


