<div class="panel panel-info">
    <div class="panel-heading">
        <h2>En grupo meditamos mejor</h2>
    </div>
    <div class="panel-body" id="groupMeditationsBody">
        <canvas id="myChart" height="100%"></canvas>
         <div id="groupTimesChart"></div>
    </div>
</div>

<script src="modules/bhavana/js/Chart.min.js"></script>
<script>
	Cala_runOnReady(Bhavana_getAllMeditationTimesPerDay);
</script>

