<div class="panel panel-info">
	<div class="panel-heading">
		<h1>¿Dónde está meditando la gente?</h1>
	</div>
	<div class="panel-body">
		<div id="myMap"></div>
	</div>
</div>

<script src="modules/bhavana/js/ol.js"></script>

<script>
Cala_say("creating the map");
// I need the css loaded

$.ajax({
url:"modules/bhavana/css/ol.css",
success:function(data){
$("<style></style>").appendTo("head").html(data);
var map = new ol.Map({
target: 'myMap',
layers: [
new ol.layer.Tile({
source: new ol.source.OSM()
}),
new ol.layer.Vector({
source: new ol.source.GeoJSON({
projection: 'EPSG:3857',
url: 'modules/bhavana/js/meditationMap.js'
})
})
],
view: new ol.View({
center: [0, 0],
zoom: 1
}),
});
}
})

</script>

