<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Acerca de La Sangha</h1>
    </div>
    <div class="panel-body">
        <h3>Organización para el Crecimiento y Desarrollo Humano</h3>
        <h2>Nuestra Misión</h2>
        <p>
        Proporcionar información y herramientas que fomenten el desarrollo personal, brindando 
        espacios para incentivar la paz mental por medio de la enseñanza de metodologías orientales, 
        tales como yoga, meditación, enseñanzas budistas, entre otros. 
        </p>
        <h2>Nuestra Visión</h2>
        <p>
        Ser una organización que promueva el desarrollo humano integral, proporcionando una 
        selección de herramientas para cultivar la felicidad, basadas en las enseñanzas 
        milenarias de las culturas orientales.
        </p>
        <h2>Este Retiro Personal</h2>
        <p>Esta herramienta es de libre uso para el beneficio de todos los seres.</p>
        <p>La Sangha es una organización cuyo objetivo es crear y proporcionar herramientas que fomenten el desarrollo personal y para el beneficio de todos los seres.</p>
        <p>Esperamos que esta herramienta sea su espacio personal para meditación y para aprender distintas herramientas para mejorar su vida.</p>
        <p>
        <h3>Encuéntrenos aquí:</h3>
        <a href="http://lasangha.org/?ref=app_about">LaSangha.org</a><br />
        <a href="http://facebook.com/lasanghacr">Facebook/lasanghacr</a><br />
        <a href="http://elblog.lasangha.org/?ref=app_about">Blog</a>
        <a href="http://youtube.com/c/lasangha">Videos</a>
        </p>
    </div>
</div>


